/*=============================================
=                     NAV                     =
=============================================*/
nav img {
   width: 30px;
   height: 30px;
}
nav > div.container-fluid {
   width: 85%;
}

/*=============================================
=                  CAROUSEL                   =
=============================================*/

/*----------  TESTS  ----------*/
body {
   background-color: #242423;
}
