/*=============================================
=                   GENERAL                   =
=============================================*/
body {
   font-family: "Raleway", sans-serif;
   color: #fff;
   background-color: #242423;
}
.icon,
#cards .card-body,
#section-form .btn,
footer {
   background-color: #0dcaf0;
}
.w-80 {
   width: 80%;
}
h2 {
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
nav,
#section-form input,
#section-form textarea {
   font-size: 0.8rem;
}
#about p,
#cards p {
   font-size: 0.75rem;
}

/*=============================================
=                     NAV                     =
=============================================*/
nav .navbar-brand {
   font-size: 1rem;
}
nav img {
   width: 25px;
   height: 25px;
}

/*=============================================
=                  CAROUSEL                   =
=============================================*/
#section-carousel img {
   max-height: 666px;
}

/*=============================================
=                   ABOUT                     =
=============================================*/

#about i {
   vertical-align: middle;
}

/*=============================================
=                   CARDS                     =
=============================================*/
#cards h2 {
   width: 95%;
}
#cards img {
   max-height: 120px;
}
#cards h5 {
   font-size: 0.9rem;
}

/*=============================================
=                   FORM                     =
=============================================*/
#section-form label,
#section-form .btn {
   font-size: 0.75rem;
}

/*=============================================
=                   FOOTER                    =
=============================================*/
footer > div.container-fluid {
   width: 60%;
}
footer span {
   font-size: 1.25rem;
}

/*=============================================
=                   QUERIES                   =
=============================================*/
@media screen and (max-width: 576px) {
   footer > div.container-fluid {
      width: 80%;
   }
   footer span {
      font-size: 1rem;
   }
}
