/*=============================================
=                   GENERAL                   =
=============================================*/
body {
   color: #fff;
   background-color: #242423;
}
.w-85 {
   width: 85%;
}

h2 {
   border-bottom: 1px solid grey;
}
/*=============================================
=                     NAV                     =
=============================================*/
nav img {
   width: 30px;
   height: 30px;
}
nav > div.container-fluid {
   width: 85%;
}

/*=============================================
=                   ABOUT                     =
=============================================*/
.icon {
   background-color: #0dcaf0;
}

/*=============================================
=                   CARDS                     =
=============================================*/
#cards .card-body {
   background-color: #0dcaf0;
}

/*=============================================
=                   FORM                     =
=============================================*/
#typeform .btn {
   background-color: #0dcaf0;
   color: #fff;
}
/*=============================================
=                   FOOTER                    =
=============================================*/
footer {
   background-color: #0dcaf0;
}
footer > div.container-fluid {
   width: 60%;
}
/* footer i {
   color: #0dcaf0;
   background-color: #fff;
   border-radius: 5%;
} */
/*----------  TESTS  ----------*/
